<template>
    <error-component
        :code="error.code"
        :message="error.message"
    />
</template>

<script>
    import ErrorBaseComponent from './ErrorBaseComponent';
    import ErrorComponent from './ErrorComponent';

    export default {
        extends: ErrorBaseComponent,
        components: {
            ErrorComponent
        },
        data: function () {
            return {
                error: {
                    code: 404,
                    message: 'Sorry, the page you are looking for could not be found.'
                }
            };
        }
    }
</script>
