<template>
    <error-component
        :code="error.code"
        :message="error.message"
        :imageCode="error.imageCode"
    />
</template>

<script>
    import ErrorBaseComponent from './ErrorBaseComponent';
    import ErrorComponent from './ErrorComponent';

    export default {
        extends: ErrorBaseComponent,
        components: {
            ErrorComponent
        },
        data: function () {
            return {
                error: {
                    code: 419,
                    imageCode: 403,
                    message: 'Sorry, your session has expired. Please refresh and try again.'
                }
            };
        }
    }
</script>
