<template>
    <error-component
        :code="error.code"
        :message="error.message"
        :imageCode="error.imageCode"
        :link="error.link"
    />
</template>

<script>
    import ErrorBaseComponent from './ErrorBaseComponent';
    import ErrorComponent from './ErrorComponent';

    export default {
        extends: ErrorBaseComponent,
        components: {
            ErrorComponent
        },
        data: function () {
            return {
                error: {
                    code: 429,
                    imageCode: 403,
                    message: 'Sorry, you are making too many requests to our servers.',
                    link: {
                        alias: 'applicationPage',
                        visible: true,
                        text: 'Go Home'
                    }
                }
            };
        }
    }
</script>
