
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#app {
    min-height: 100%;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html, body {
     background-color: #fff;
     color: #636b6f;
     font-family: 'Nunito', sans-serif;
     font-weight: 200;
     height: 100vh;
     margin: 0;
 }

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.sub-title {
    color: #e3e3e3;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.pandaContainer {
    padding-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    margin-top: 30px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.flex-60-height {
    height: 60vh;
}

.pandaFlex {

    .machine {
        width: 190px !important;
    }

    #flex {
        display: flex;
        flex-flow: row wrap;
    }

    .item {
        width: 24%;
        margin-right: 1%;
        margin-bottom: 20px;
    }
}


@media only screen and (max-width : 991.5px) {
    .pandaFlex {
        .item {
            width: 32%;
            margin-right: 1%;
        }
    }
}



@media only screen and (max-width : 767.5px) {
    .pandaFlex {
        .item {
            width: 49%;
            margin-right: 1%;
        }
    }
}

@media only screen and (max-width : 549.5px) {
    .pandaFlex {
        .item {
            width: 100%;
            margin-right: 0;
        }
    }
}
