<template>
    <section>
        <div class="charts">
            <div style="width:100%;">
                <canvas id="canvas" style="width: 100%;height: 500px;"></canvas>
            </div>
        </div>
    </section>
</template>

<script>
    import {EventBus} from '@/bus.js';
    import Chart from 'chart.js';

    export default {
        components: {},
        data: function () {
            return {
                analytics: [],
                pot: {},
                breadcrumbs: [
                    {routeName: 'machines', text: 'All Pots'},
                    {routeName: 'potManage', params: {id: null}, text: ':potName'},
                    {routeName: 'analytics', text: 'Analytic'}
                ],
                charts: null,
            };
        },
        methods: {
            initChart() {
                const $vm = this;
                this.$nextTick(() => {

                    let chartColors = {
                        red: 'rgb(255, 99, 132)',
                        orange: 'rgb(255, 159, 64)',
                        yellow: 'rgb(255, 205, 86)',
                        green: 'rgb(75, 192, 192)',
                        blue: 'rgb(54, 162, 235)',
                        purple: 'rgb(153, 102, 255)',
                        grey: 'rgb(201, 203, 207)'
                    };

                    //monday, tuesday wednesday thursday friday saturday sunday

                    let config = {
                        type: 'line',
                        data: {
                            labels: [],
                            datasets: [
                                {
                                    label: 'Sunday',
                                    backgroundColor: chartColors.red,
                                    borderColor: chartColors.red,
                                    data: [],
                                    fill: false,
                                },
                                {
                                    label: 'Monday',
                                    backgroundColor: chartColors.orange,
                                    borderColor: chartColors.orange,
                                    data: [],
                                    fill: false,
                                },
                                {
                                    label: 'Tuesday',
                                    backgroundColor: chartColors.yellow,
                                    borderColor: chartColors.yellow,
                                    data: [],
                                    fill: false,
                                },
                                {
                                    label: 'Wednesday',
                                    backgroundColor: chartColors.green,
                                    borderColor: chartColors.green,
                                    data: [],
                                    fill: false,
                                },
                                {
                                    label: 'Thursday',
                                    backgroundColor: chartColors.blue,
                                    borderColor: chartColors.blue,
                                    data: [],
                                    fill: false,
                                },
                                {
                                    label: 'Friday',
                                    backgroundColor: chartColors.purple,
                                    borderColor: chartColors.purple,
                                    data: [],
                                    fill: false,
                                },
                                {
                                    label: 'Saturday',
                                    backgroundColor: chartColors.grey,
                                    borderColor: chartColors.grey,
                                    data: [],
                                    fill: false,
                                }
                            ]
                        }
                    };

                    var ctx = document.getElementById('canvas').getContext('2d');

                    $.each($vm.analytics, (indexStat, statData) => {
                        config.data.labels.push(statData.time);
                        config.data.datasets[statData.dayofweek].data.push(statData.r_avg);
                    });

                    config.data.labels = _.uniq(config.data.labels);

                    $vm.charts = new Chart(ctx, config);
                });
            }
        },
        computed: {},
        mounted() {
            EventBus.$emit('isLoading', true);
            EventBus.$emit('breadcrumbs', this.breadcrumbs);

            const machineId = this.$route.params.id;

            axios({
                method: 'GET',
                url: `/ajax/machine/${machineId}`
            }).then((response) => {
                this.pot = response.data;
            });

            axios({
                method: 'GET',
                url: `/ajax/machine/${machineId}/statistic`
            }).then((response) => {
                this.analytics = response.data;
                this.initChart();
                EventBus.$emit('isLoading', false);
            });
        },
        watch: {
            pot(val) {
                $.each(this.breadcrumbs, function (index, value) {
                    if (value.text === ':potName') {
                        value.text = val.name;
                    }

                    if (value.hasOwnProperty('params')) {
                        value.params.id = val.id;
                    }
                });
            },
            breadcrumbs(val) {
                EventBus.$emit('breadcrumbs', this.breadcrumbs);
            }
        }
    }
</script>


