<template>
    <div class="flex-center position-ref full-height">
        <div class="content">
            <div class="title">
                Laravel + Vue2
            </div>
            <div class="sub-title m-b-md"><small>(Vue.Router + Vuex.Store)</small></div>

            <div class="links">
                <router-link :to="{ name: 'page401' }">401</router-link>
                <router-link :to="{ name: 'page403' }">403</router-link>
                <router-link :to="{ name: 'page404' }">404</router-link>
                <router-link :to="{ name: 'page419' }">419</router-link>
                <router-link :to="{ name: 'page429' }">429</router-link>
                <router-link :to="{ name: 'page500' }">500</router-link>
                <router-link :to="{ name: 'page503' }">503</router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        components: {},
        data: function () {
            return {};
        },
        methods: {},
        computed: {},
        mounted() {},
    }
</script>


