<template>
    <section>
        <div>
            <router-link class="btn btn-outline-primary machineAdd float-right" :to="{ name: 'potNew' }">
                Add pot
            </router-link>
            <div class="clearfix"></div>
        </div>

        <div class="pandaFlex" style="margin-bottom: 15px;">
            <div id="flex">
                <div v-for="machine in machines" class="item">
                    <div class="card">
                        <div class="card-body">
                            <div style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;"><strong>{{ machine.location }}</strong></div>
                            <div v-if="machine.lasthist !== null">
                                <div>{{ formatDate(machine.lasthist.created_at, 'DD.MM HH:MM') }} | <span :class="coffeeStatClasses(machine)">{{ getCoffeePercent(machine) }}%</span></div>
                            </div>
                            <div v-else>
                                <small>No data</small>
                            </div>
                            <div class="card-text" style="text-align: center;">
                                <component :is="machine.type"
                                           :key="'machine-' + machine.id"
                                           :coffeePercent="(machine.lasthist !== null ? machine.lasthist.result : 0)"
                                           :color="getColor(machine.id)"
                                           :machineHasData="(machine.lasthist !== null)"></component>
                            </div>
                            <div class="charts">
                                <div style="width:100%;">
                                    <canvas :id="'canvas' + machine.id" style="width: 100%;height: 100px;"></canvas>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Actions
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <router-link class="dropdown-item" :to="{name: 'potManage', params: { id: machine.id } }">
                                        Manage
                                    </router-link>
                                    <router-link class="dropdown-item" :to="{name: 'analytics', params: { id: machine.id } }">
                                        Analytics
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<style scoped>
    .card {
        text-align: center;
    }

    .machineAdd {
        margin-bottom: 1rem;
    }
</style>

<script>
    import { EventBus } from '@/bus.js';
    import Machine from '@components/Machine.vue';
    import WaterCooler from '@components/WaterCooler.vue';
    import Chart from 'chart.js';

    export default {
        components: {
            Machine,
            WaterCooler
        },
        data: function () {
            return {
                machinesTimeout: null,
                machines: [],
                charts: {},
                colors: {
                    rgbs: [
                        {red: 74, green: 0, blue: 2},
                        {red: 0, green: 74, blue: 62},
                        {red: 90, green: 80, blue: 4},
                        {red: 85, green: 7, blue: 75},
                    ],
                    countColor: null
                },
                breadcrumbs: [
                    {routeName: 'machines', text: 'All Pots'}
                ]
            };
        },
        methods: {
            coffeeStatClasses(machine) {
                const percentMachine = this.getCoffeePercent(machine);
                return {
                    badge: true,
                    'badge-success': percentMachine > 50,
                    'badge-warning': percentMachine <= 50 && percentMachine >= 20,
                    'badge-danger': percentMachine < 20
                }
            },
            formatDate(date, outputFormat) {
                return moment(date).format(outputFormat);
            },
            getColor(number) {
                if(this.colors.countColor === null) {
                    this.colors.countColor = this.colors.rgbs.length;
                }

                const colorIndex = number % this.colors.countColor;
                return this.colors.rgbs[colorIndex];
            },
            getCoffeePercent(machine) {
                return (machine.lasthist !== null ? (machine.lasthist.result > 100 ? 100 : machine.lasthist.result) : 0);
            },
            getMachines() {
                axios({
                    method: 'GET',
                    url: '/ajax/machine'
                }).then((response) => {
                    let charts = false;
                    if(this.machines.length === 0) {
                        charts = true;
                    }

                    this.machines = response.data.data;

                    if(charts) {
                        this.initCharts();
                    }
                    EventBus.$emit('isLoading', false);
                });
            },
            initCharts() {
                const $vm = this;
                this.$nextTick(() => {

                    $.each(this.machines, (index, machine) => {
                        let config = {
                            type: 'line',
                            data: {
                                labels: [],
                                datasets: [{
                                    label: 'Average coffee immediate',
                                    backgroundColor: 'rgb(54, 162, 235)',
                                    borderColor: 'rgb(54, 162, 235)',
                                    data: [],
                                    fill: false,
                                }]
                            }
                        };

                        var ctx = document.getElementById('canvas' + machine.id).getContext('2d');

                        $.each(machine.statday, (indexStat, statData) => {
                            config.data.labels.push(statData.time);
                            config.data.datasets[0].data.push(statData.r_avg);
                        });

                        console.log(config);

                        $vm.charts[machine.id] = new Chart(ctx, config);
                    });
                });
            }
        },
        computed: {},
        mounted() {
            const $vm = this;
            EventBus.$emit('breadcrumbs', this.breadcrumbs);
            EventBus.$emit('isLoading', true);

            this.getMachines();

            this.machinesTimeout = setInterval(() => {
                $vm.getMachines();
            }, 3000);
        },
        destroyed() {
            clearTimeout(this.machinesTimeout);
            this.machinesTimeout = null;
        }
    }
</script>


