<template>
    <section>
        <form @submit.prevent="onSubmit">
            <div class="form-group">
                <label for="name">Name: </label>
                <input id="name" v-model="pot.name" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="uuid">UUID: </label>
                <input id="uuid" v-model="pot.uuid" disabled class="form-control"/>
            </div>
            <div class="form-group">
                <label for="location">Location: </label>
                <input id="location" v-model="pot.location" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="type">Type: </label>
                <select v-model="pot.type" id="type" class="form-control">
                    <option value="machine">Coffee Machine</option>
                    <option value="water-cooler">Water Cooler</option>
                </select>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="volume">Volume: </label>
                    <input type="number" min="0" id="volume" v-model="pot.volume" class="form-control"/>
                </div>
                <div class="form-group col-md-4">
                    <label for="empty_weight">Empty weight: </label>
                    <input type="number" min="0" id="empty_weight" v-model="pot.empty_weight" class="form-control"/>
                </div>
                <div class="form-group col-md-4">
                    <label for="full_weight">Fully weight: </label>
                    <input type="number" min="0" id="full_weight" v-model="pot.full_weight" class="form-control"/>
                </div>
            </div>

            <br/>

            <button type="submit" class="btn btn-lg btn-outline-primary">
                Update
            </button>
        </form>
    </section>
</template>

<script>
    import {EventBus} from '@/bus.js';

    export default {
        components: {},
        data: function () {
            return {
                analytics: [],
                pot: {},
                breadcrumbs: [
                    {routeName: 'machines', text: 'All Pots'},
                    {routeName: 'potManage', params: {id: null}, text: ':potName'},
                ]
            };
        },
        methods: {
            onSubmit() {
                EventBus.$emit('isLoading', true);

                const machineId = this.$route.params.id;

                axios({
                    method: 'PUT',
                    url: `/ajax/machine/${machineId}`,
                    params: this.pot
                }).then((response) => {
                    this.$swal('Successfully update');
                    this.$router.push({name: 'machines'})
                }).catch((e) => {
                    this.$router.push({name: 'page' + e.response.status})
                });
            }
        },
        computed: {},
        mounted() {
            EventBus.$emit('isLoading', true);
            EventBus.$emit('breadcrumbs', this.breadcrumbs);

            const machineId = this.$route.params.id;

            axios({
                method: 'GET',
                url: `/ajax/machine/${machineId}`
            }).then((response) => {
                this.pot = response.data;

                EventBus.$emit('isLoading', false);
            }).catch((e) => {
                this.$router.push({name: 'page' + e.response.status})
            });
        },
        watch: {
            pot(val) {
                $.each(this.breadcrumbs, function (index, value) {
                    if (value.text === ':potName') {
                        value.text = val.name + ' Manage';
                    }

                    if (value.hasOwnProperty('params')) {
                        value.params.id = val.id;
                    }
                });
            },
            breadcrumbs(val) {
                EventBus.$emit('breadcrumbs', this.breadcrumbs);
            }
        }
    }
</script>


