<template>
    <section>
        <form @submit.prevent="onSubmit">
            <div class="form-group">
                <label for="name">Name: </label>
                <input id="name" v-model="pot.name" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="location">Location: </label>
                <input id="location" v-model="pot.location" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="type">Type: </label>
                <select v-model="pot.type" id="type" class="form-control">
                    <option value="machine">Coffee Machine</option>
                    <option value="water-cooler">Water Cooler</option>
                </select>
            </div>

            <div class="row">
                <div class="form-group col-md-4">
                    <label for="volume">Volume: </label>
                    <input type="number" min="0" id="volume" v-model="pot.volume" class="form-control"/>
                </div>
                <div class="form-group col-md-4">
                    <label for="empty_weight">Empty weight: </label>
                    <input type="number" min="0" id="empty_weight" v-model="pot.empty_weight" class="form-control"/>
                </div>
                <div class="form-group col-md-4">
                    <label for="full_weight">Fully weight: </label>
                    <input type="number" min="0" id="full_weight" v-model="pot.full_weight" class="form-control"/>
                </div>
            </div>

            <br/>

            <button type="submit" class="btn btn-lg btn-outline-primary">
                Create
            </button>
        </form>
    </section>
</template>

<script>
    import {EventBus} from '@/bus.js';

    export default {
        components: {},
        data: function () {
            return {
                pot: {
                    type: 'machine',
                    volume: 0,
                    empty_weight: 0,
                    full_weight: 0
                },
                analytics: [],
                breadcrumbs: [
                    {routeName: 'machines', text: 'All Pots'},
                    {routeName: 'potManage', text: 'Add new pot'}
                ]
            };
        },
        methods: {
            onSubmit() {
                EventBus.$emit('isLoading', true);

                axios({
                    method: 'POST',
                    url: `/ajax/machine`,
                    params: this.pot
                }).then((response) => {
                    this.$swal('Successfuly save. Your UUID: ' + response.data.uuid);
                    this.$router.push({name: 'machines'})
                }).catch((e) => {
                    this.$router.push({name: 'page' + e.response.status})
                });
            }
        },
        computed: {},
        mounted() {
            EventBus.$emit('breadcrumbs', this.breadcrumbs);
        },
        watch: {}
    }
</script>


