<template>
    <div style="position:relative;min-height:100vh;">
        <div v-if="!isErrorPage">
            <div
                class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
                    <h5 class="my-0 mr-md-auto font-weight-normal">Giosg</h5>
                    <nav class="my-2 my-md-0 mr-md-3">
                        <router-link :to="{name: 'machines'}" class="p-2 text-dark">
                            All Pots
                        </router-link>
                    </nav>
            </div>
            <div class="container pandaContainer">
                <div class="flex-center position-ref flex-60-height" v-show="isLoading">
                    <div class="content">
                        <div class="loader"></div>
                    </div>
                </div>
                <div v-show="!isLoading">
                    <nav aria-label="breadcrumb" v-if="breadcrumbs.length >= 1">
                        <ol class="breadcrumb">
                            <li :class="{ 'breadcrumb-item': true, 'active': (index + 1) === breadcrumbs.length }"
                                v-for="(bread, index) in breadcrumbs">
                                <router-link class="" :to="{ name: bread.routeName, params: (bread.hasOwnProperty('params') ? bread.params : {}) }"
                                             v-if="(index + 1) !== breadcrumbs.length">
                                    {{ bread.text }}
                                </router-link>
                                <span v-else>{{ bread.text }}</span>
                            </li>
                        </ol>
                    </nav>

                    <transition name="fade">
                        <router-view></router-view>
                    </transition>
                </div>
            </div>

            <footer class="footer">
                <div class="container">
                    <span class="text-muted">© OrangePanda. VK Hackathon 2018. With love ❤️</span>
                </div>
            </footer>
        </div>
        <div v-else>
            <transition name="fade">
                <router-view></router-view>
            </transition>
        </div>
    </div>
</template>

<script>
    import {EventBus} from '@/bus.js';

    export default {
        data: function () {
            return {
                isErrorPage: false,
                breadcrumbs: [],
                isLoading: false
            };
        },
        mounted() {
            EventBus.$on('breadcrumbs', (bread) => {
                this.breadcrumbs = bread;
            });
            EventBus.$on('isErrorPage', (state) => {
                this.isErrorPage = state;
            });
            EventBus.$on('isLoading', (state) => {
                this.isLoading = state;
            });
        },
        watch: {
            '$route'(value) {
                console.log(value);
            }
        }
    }
</script>
