<template>
    <div class="machine" :style="cssProps">
        <div class="machine-no-data" v-if="!machineHasData">
            <img src="/svg/machine-no-data.svg" />
        </div>
        <div class="machine-bottle">
            <div class="machine-middle"></div>
            <div class="water" :style="coffeeStyles"></div>
            <div class="bottom-water"></div>
        </div>
        <div class="machine-top">
            <div class="machine-middle"></div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    @import "~css-vars/css-vars";
    $css-vars-use-native: true;

    /* Green */
    $mainColor: rgba(0, 188, 158, 1);
    $mainColorLight: rgb(64, 170, 153);
    $mainColorDark: rgba(0, 188, 158, 0.6);

    $subColorDark: rgba(32, 46, 58, 1);

    @mixin absolute {
        position: absolute;
    }

    @mixin center-x {
        left: 50%;
        transform: translateX(-50%);
    }

    @include css-vars((
        --mainColor: $mainColor,
        --mainColorLight: $mainColorLight,
        --mainColorDark: $mainColorDark,
    ));

    .machine {
        position: relative;
        width: 208px;
        height: 311px;
        outline: 1px solid rgba(255,255,255,0.3);
        outline-offset: 2px;
        /*-webkit-box-reflect: below 0 -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.4) 0%, transparent 50%, transparent 100%);*/
        transform: scale(.75);
        display: inline-block;
    }

    .machine-no-data {
        img {
            position: absolute;
            right: -20px;
            top: -20px;
            transform: scale(-1, 1);
            max-width: 20%;

            -webkit-animation: myOrbit 3s linear infinite; /* Chrome, Safari 5 */
            -moz-animation: myOrbit 3s linear infinite; /* Firefox 5-15 */
            -o-animation: myOrbit 3s linear infinite; /* Opera 12+ */
            animation: myOrbit 3s linear infinite; /* Chrome, Firefox 16+,
                                                      IE 10+, Safari 5 */
        }
    }

    .water {
        position: absolute;
        width: 100%;

        -webkit-transition: height 6s;
        -moz-transition: height 6s;
        -ms-transition: height 6s;
        -o-transition: height 6s;
        transition: height 6s;

        background: #58ccef;
        -webkit-border-top-left-radius: 15px;
        -webkit-border-top-right-radius: 15px;
        -moz-border-radius-topleft: 15px;
        -moz-border-radius-topright: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .bottom-water {
        position: absolute;
        width: 100%;
        background: #202e3a;
        height: 12px;
        -webkit-border-top-left-radius: 15px;
        -webkit-border-top-right-radius: 15px;
        -moz-border-radius-topleft: 15px;
        -moz-border-radius-topright: 15px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    @-webkit-keyframes myOrbit {
        from { -webkit-transform: rotate(0deg) translateX(15px) rotate(0deg); }
        to   { -webkit-transform: rotate(360deg) translateX(15px) rotate(-360deg); }
    }

    @-moz-keyframes myOrbit {
        from { -moz-transform: rotate(0deg) translateX(15px) rotate(0deg); }
        to   { -moz-transform: rotate(360deg) translateX(15px) rotate(-360deg); }
    }

    @-o-keyframes myOrbit {
        from { -o-transform: rotate(0deg) translateX(15px) rotate(0deg); }
        to   { -o-transform: rotate(360deg) translateX(15px) rotate(-360deg); }
    }

    @keyframes myOrbit {
        from { transform: rotate(0deg) translateX(15px) rotate(0deg); }
        to   { transform: rotate(360deg) translateX(15px) rotate(-360deg); }
    }

    .machine-top {
        @include absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
        width: 119px;
        height: 164px;
        background: linear-gradient(var(--mainColor), var(--mainColor) 20%, var(--mainColorDark) 20%, var(--mainColorDark) 22%, var(--mainColor) 22%, var(--mainColor) 62%, var(--mainColorDark) 62%, var(--mainColorDark) 64%, var(--mainColor) 64%);
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;

        &:before {
            content: "";
            @include absolute;
            left: 50%;
            top: -10px;
            transform: translateX(-50%);
            width: 45px;
            height: 10px;
            background: linear-gradient(to right, var(--mainColorDark) 15%, var(--mainColorLight) 15%, var(--mainColorLight) 45%, var(--mainColorDark) 45%, var(--mainColorDark) 85%, var(--mainColor) 85%, var(--mainColorDark));
            border-top-right-radius: 2px;
            border-top-left-radius: 2px;
        }

        &:after {
            content: "";
            @include absolute;
            width: 100%;
            height: 100%;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            background: linear-gradient(to right, transparent, transparent 8%, rgba(255, 255, 255, .2) 8%, rgba(255, 255, 255, .2) 22%, transparent 22%, transparent 88%, var(--mainColorLight) 88%);
            right: 0px;
        }
    }

    .machine-bottle {
        position: absolute;
        left: 50%;
        top: 8px;
        border: 1px solid #c3c3c3;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%) rotate(180deg);
        width: 100px;
        height: 120px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;

        &:after {
            content: "";
            @include absolute;
            width: 100%;
            height: 100%;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            right: 0px;
        }
    }

    .machine-middle {
        @include absolute;
        bottom: -8px;
        width: 100%;
        height: 8px;
        background: $subColorDark;
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 35px;
    }

    .machine-bottom {
        @include absolute;
        @include center-x;
        bottom: 20px;
        z-index: 10;
        width: 121px;
        height: 78px;
        border-radius: 15px;
        border: 5px solid #d5d5d5;
        border-top-color: transparent;

        &:before {
            content: "";
            @include absolute;
            @include center-x;
            top: -1px;
            width: 110%;
            height: 10px;
            background: linear-gradient(to right, $subColorDark, $subColorDark 3%, #414d57 3%, #414d57 15%, $subColorDark 15%, $subColorDark);
        }

        &:after {
            content: "";
            @include absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 59px;
            background: linear-gradient(to right, transparent, transparent 10%, rgba(255, 255, 255, .3) 10%, rgba(255, 255, 255, .3) 25%, rgba(255, 255, 255, .1) 25%, rgba(255, 255, 255, .1) 85%, rgba(0, 0, 0, .1) 85%, rgba(0, 0, 0, .1));
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }

    .hand {
        @include absolute;
        right: 7px;
        bottom: 25px;
        z-index: -1;
        width: 38px;
        height: 69px;
        border: 10px solid $subColorDark;
        border-left-color: transparent;
        border-radius: 0 18px 18px 0;

        &:after {
            content: "";
            @include absolute;
            left: -95px;
            top: 22px;
            width: 17px;
            height: 1px;
            background: transparentize(#b3b3b3, .3);
            color: #b3b3b3;
            box-shadow: 0 5px 0 0 currentColor, 0 10px 0 0 currentColor, 0 15px 0 0 currentColor, 0 20px 0 0 currentColor;
        }

        &:before {
            content: "";
            @include absolute;
            left: -105px;
            bottom: -20px;
            width: 93px;
            height: 7px;
            background: linear-gradient(to right, $subColorDark, $subColorDark 3%, #414d57 3%, #414d57 15%, $subColorDark 15%, $subColorDark);
        }
    }

    .left-hand {
        @include absolute;
        top: 125px;
        z-index: -1;
        width: 45px;
        height: 184px;
        border: 8px solid #d5d5d5;
        border-right-color: transparent;
        border-radius: 22px 0 0 22px;
        left: 10px;

        &:after {
            content: "";
            @include absolute;
            top: -14px;
            left: 21px;
            width: 7px;
            height: 23px;
            background: var(--mainColorDark);
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        &:before {
            content: "";
            @include absolute;
            top: -11px;
            left: 13px;
            width: 8px;
            height: 15px;
            background: linear-gradient(var(--mainColor), var(--mainColor), var(--mainColorLight), var(--mainColorLight));
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
    }

    .coffee {
        @include absolute;
        @include center-x;
        z-index: 1;
        width: 106px;
        border-radius: 0 0 15px 15px;
        background: #393434;
        bottom: 22px;

        -webkit-transition: height 6s;
        -moz-transition: height 6s;
        -ms-transition: height 6s;
        -o-transition: height 6s;
        transition: height 6s;

        &:after {
            content: "";
            @include absolute;
            left: -11px;
            bottom: -22px;
            width: 144px;
            height: 16px;
            background: linear-gradient(to right, var(--mainColor), var(--mainColorLight) 3%, var(--mainColorLight) 3%, var(--mainColorLight) 15%, var(--mainColor) 15%, var(--mainColor));
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            border-bottom: 2px solid #00a98e;
        }

        &.animation:before {
            content: "";
            @include absolute;
            left: 54px;
            top: -41px;
            width: 5px;
            height: 4px;
            background: #393434;
            border-radius: 50%;
            box-shadow: 3px 10px 0 1px #393434;
            animation: animatecoffee 2s linear infinite;
        }
    }

    @keyframes animatecoffee {
        to {
            top: 0;
        }
    }

    .test {
        margin: 50px;
        width: 20px;
        height: 120px;
        border: 6px solid red;
        border-radius: 15px 0 0 15px;
        border-right-color: transparent;
    }
</style>

<script>
    export default {
        props: {
            coffeePercent: {
                type: Number,
                default: 0,
                required: true
            },
            color: {
                type: Object,
                default: function () {
                    return {
                        red: 74,
                        green: 0,
                        blue: 2,
                    }
                },
            },
            machineHasData: {
                type: Boolean,
                default: true,
                required: true,
            }

        },
        data: function () {
            return {
                animation: false,
                animationTimeout: null,
                mainColor: (() => {
                    const machineColor = this.color;
                    let mainColor = 'red';

                    if(machineColor.red > machineColor.green && machineColor.red > machineColor.blue) {
                        mainColor = 'red';
                    }

                    if(machineColor.green > machineColor.red && machineColor.green > machineColor.blue) {
                        mainColor = 'green';
                    }

                    if(machineColor.blue > machineColor.green && machineColor.blue > machineColor.red) {
                        mainColor = 'blue';
                    }

                    return mainColor;
                })()
            };
        },
        computed: {
            cssProps() {
                return {
                    '--mainColor': `rgb(${this.getMachineColor('red')}, ${this.getMachineColor('green')}, ${this.getMachineColor('blue')})`,
                    '--mainColorLight': `rgb(${this.getMachineColor('red', true)}, ${this.getMachineColor('green', true)}, ${this.getMachineColor('blue', true)})`,
                    '--mainColorDark': `rgba(${this.getMachineColor('red')}, ${this.getMachineColor('green')}, ${this.getMachineColor('blue')}, 0.6)`,
                }
            },
            coffeeClasses() {
                return {
                    coffee: true,
                    animation: this.animation
                }
            },
            coffeeStyles() {
                return {
                    height: this.percentCalculate + 'px'
                };
            },
            percentCalculate() {
                let percent = this.coffeePercent;
                if(percent > 100) {
                    percent = 100;
                }
                return (percent === 0 ? 0 : Math.ceil(percent * 1.06) + 12);
            }
        },
        methods: {
            clearAnimationTimeout() {
                clearTimeout(this.animationTimeout);
                this.animationTimeout = null;
            },
            getMachineColor(colorName, isLight) {
                const colorPercent = this.color[colorName];
                return (isLight && this.mainColor === colorName ? colorPercent + 10 : colorPercent ) + '%';
            }
        },
        watch: {
            coffeePercent(newValue, oldValue) {
                if(newValue >= 100) {
                    return;
                }

                this.animation = oldValue < newValue;
            },
            animation(value) {
                if (value) {
                    this.clearAnimationTimeout();

                    this.animationTimeout = setTimeout(() => {
                        this.animation = false;
                        this.clearAnimationTimeout();
                    }, 6000);
                }
            }
        },
        mounted() {
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        }
    }
</script>
